.app-container {
  display: flex;
  /* width: 100%; */
  /* gap: 20px;
  padding: 20px; */
}

/* Make RightSidebar fixed width */
.right-sidebar {
  width: 400px;
}

/* Layout full width */
.app-container > .flex-1 {
  flex: 1; /* takes remaining space */
}

/* Responsive adjustments */
@media (max-width: 1023px) {
  .app-container {
    flex-direction: column;
  }

  .right-sidebar {
    width: 100%;
  }
}
